<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= current_page.data.title || "Lotus &dash; Guides" %></title>
    <meta name="description" content="Lotus, a complete web framework for Ruby" />
    <meta name="keywords" content="lotus,web,framework,ruby,open source,oss,os,software,free,free software,architecture,fast,lightweight,testing,tdd,bdd,test driven development,behaviour driven development,full stack,mvc,model view object,pattern,patterns,design patterns,oop,object oriented programming,testability,http,https,routing,router,http router,restful,resource,resources,convention,controller,models,repository,query,sql,interactors,two-step view,view,template,presenters,render,rendering,helpers,erb,haml,tilt,json,xml,yaml,yml,framwork,framewrok,riby,free sowftare"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="lotusrb-version" content="0.2.1">
    <link href="http://feeds.feedburner.com/lotusrb" rel="alternate" title="Lotus" type="application/atom+xml" />

    <%= stylesheet_link_tag 'application' %>

    <script src="//use.typekit.net/cas2dwg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="subpage blog">
    <%= partial 'header' %>

    <section class="blog wrapper animated fadeIn">
      <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 main">
          <!-- <img src="images/sample-photo.jpg" class="img-rounded img-responsive"> -->
          <h1 class="page-header">
            <%= article_title(current_page) %>
            <div class="meta">Posted by <strong><%= article_author(current_page) %></strong> on <%= article_date(current_page) %></div>
          </h1>

          <p class="lead"><%= article_summary(current_page) %></p>
          <hr>

          <%= current_page.body %>
        </div>
      </div>
    </section>

  <%= partial 'footer' %>
  </body>
</html>
