<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Hanami - The web, with simplicity" />
    <meta name="keywords" content="hanami,hanamirb,lotus,lotusrb,web,framework,ruby,open source,oss,os,software,free,free software,architecture,fast,lightweight,testing,tdd,bdd,test driven development,behaviour driven development,full stack,mvc,model view object,pattern,patterns,design patterns,oop,object oriented programming,testability,http,https,routing,router,http router,restful,resource,resources,convention,controller,models,repository,query,sql,interactors,two-step view,view,template,presenters,render,rendering,helpers,erb,haml,tilt,json,xml,yaml,yml,framwork,framewrok,riby,free sowftare"/>
    <meta name="author" content="Luca Guidi">
    <link href="http://feeds.feedburner.com/hanamirb" rel="alternate" title="Hanami" type="application/atom+xml" />

    <title>Hanami | <%= current_page.data.title || "Hanami | The web, with simplicity." %></title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag 'toolkit-minimal' %>
    <%= stylesheet_link_tag 'application-minimal' %>

    <meta property="og:site_name"   content="Hanami"/>
    <meta property="og:title"       content="<%= article_title(current_page) %>">
    <meta property="og:url"         content="<%= absolute_url(current_page) %>">
    <meta property="og:description" content="<%= article_summary(current_page) %>">
    <meta property="og:image"       content="<%= absolute_url(article_image_url(current_page)) %>">

    <meta name="twitter:card"        content="summary_large_image">
    <meta name="twitter:site"        content="@hanamirb">
    <meta name="twitter:creator"     content="@hanamirb">
    <meta name="twitter:url"         content="<%= absolute_url(current_page) %>">
    <meta name="twitter:title"       content="<%= article_title(current_page) %>">
    <meta name="twitter:description" content="<%= article_summary(current_page) %>">
    <meta name="twitter:image:src"   content="<%= absolute_url(article_image_url(current_page)) %>">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top navbar-padded text-uppercase app-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed p-x-0" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span>Hanami</span>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/guides">Guides</a>
            </li>
            <li>
              <a href="/community">Community</a>
            </li>
            <li>
              <a href="https://github.com/hanami" target="_blank">Source Code</a>
            </li>
            <li class="active">
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="block block-inverse text-center">
        <div class="block-foreground">
          <h1 class="block-title"><%= article_title(current_page) %></h1>
          <h4 class="text-muted">Posted by <strong><%= article_author(current_page) %></strong> on <em><%= article_date(current_page) %></em></h4>
          <button class="btn btn-default btn-outline m-t">
            <span class="icon icon-facebook"></span>
            Share
          </button>
          <button class="btn btn-default btn-outline m-t">
            <span class="icon icon-twitter"></span>
            Tweet
          </button>
        </div>
        <div class="block-background">
          <%= article_image(current_page) %>
        </div>
      </div>

      <div class="container container-article">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-1">
            <p class="lead"><%= article_summary(current_page) %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-md-9 col-md-offset-1">
            <div class="article-body">
              <%= current_page.body %>
            </div>

           <hr>

           <a href="https://github.com/hanami/hanami" title="Star on GitHub" target="_blank" class="btn btn-default-outline">
             <span class="icon icon-github"></span>
             Star
           </a>
           <a href="https://www.facebook.com/sharer/sharer.php?u=<%= encode_text(absolute_url(current_page)) %>" title="Like on Facebook" class="btn btn-default-outline" target="_blank">
             <span class="icon icon-thumbs-up"></span>
             Like
           </a>
           <a href="https://twitter.com/home?status=<%= encode_text("#{ article_title(current_page) } - #{ absolute_url(current_page) } /via @hanamirb #hanamirb") %>" title="Share on Twitter" target="_blank" class="btn btn-default-outline">
             <span class="icon icon-twitter"></span>
             Tweet
           </a>
           <a href="https://news.ycombinator.com/submitlink?u=<%= encode_text(absolute_url(current_page)) %>&t=<%= article_title(current_page) %>" class="btn btn-default-outline" title="Vote on HackerNews">
             <span class="icon"><strong>HN</strong></span>
             Vote
           </a>
            <a href="http://www.reddit.com/submit?url=<%= encode_text(absolute_url(current_page)) %>" target="_blank" title="Share on Reddit" class="btn btn-default-outline">
             <span class="icon"><strong>R</strong></span>
             Share
            </a>

            <br>
            <br>

            <%= partial 'mailing_list' %>
          </div>
        </div>
      </div>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
