<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
    <%= stylesheet_link_tag 'guides' %>
  </head>

  <body>
    <%= partial 'navbar' %>

    <div class="container docs-content">
      <div class="breadcrumbs">
        <%= breadcrumbs(current_page, guides) %>
      </div>

      <select class="mobile-guides">
        <% guides.categories.each do |category| %>
          <optgroup label="<%= guide_title(category) %>">
            <% category.pages.each do |page| %>
              <option value="<%= guide_url(category, page, current_page.data.version) %>" <%= "selected" if guide_url(category, page,current_page.data.version) == current_page.url.chomp("/") %>><%= guide_title(page) %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
      <ul id="markdown-toc">
        <li></li>
        <li><%= guides_edit_article(current_page.source_file) %></li>

        <% guides.categories.each do |category| %>
          <li class="toc-group">
            <span><%= guide_title(category) %></span>
            <ul>
              <% category.pages.each do |page| %>
                <li>
                  <%= link_to(guide_title(page, current_page.data.version), guide_url(category, page, current_page.data.version)) %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <% if current_page.data.version == 'head' && !current_page.path.match('upgrade-notes')  %>
        <p class="warning">
          You're looking at the guides for the upcoming version of Hanami.
          <br>
          Here are the guides for the latest stable version: <a href="/guides/1.0">1.0</a>
        </p>
      <% end %>

      <%= yield %>

      <hr>

      <%= guide_pager(current_page, guides, current_page.data.version) %>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
