<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= current_page.data.title || "Lotus &dash; Guides" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="lotusrb-version" content="0.2.1">

    <%= stylesheet_link_tag 'application' %>

    <script src="//use.typekit.net/cas2dwg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="subpage docs">
    <%= partial 'header' %>

    <section class="docs wrapper animated fadeIn">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 hidden-sm hidden-xs sidebar">

            <ul class="nav nav-sidebar">
              <li class="active">
                <span class="heading">Getting Started</span>
                <ul class="nav">
                  <li class="active"><a href="/guides/getting-started">Getting started</a></li>
                </ul>
              </li>
              <li>
                <span class="heading">Introduction</span>
                <ul class="nav">
                  <li><a href="/guides/introduction">Introduction</a></li>
                  <li><a href="/guides/philosophy">Philosophy</a></li>
                </ul>
              </li>
            </ul>

          </div>

          <div class="col-md-9 main">
            <div class="doc-section">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%= partial 'footer' %>
  </body>
</html>
