<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Hanami - The web, with simplicity" />
    <meta name="keywords" content="hanami,hanamirb,lotus,lotusrb,web,framework,ruby,open source,oss,os,software,free,free software,architecture,fast,lightweight,testing,tdd,bdd,test driven development,behaviour driven development,full stack,mvc,model view object,pattern,patterns,design patterns,oop,object oriented programming,testability,http,https,routing,router,http router,restful,resource,resources,convention,controller,models,repository,query,sql,interactors,two-step view,view,template,presenters,render,rendering,helpers,erb,haml,tilt,json,xml,yaml,yml,framwork,framewrok,riby,free sowftare"/>
    <meta name="author" content="Luca Guidi">
    <link href="http://feeds.feedburner.com/hanamirb" rel="alternate" title="Hanami" type="application/atom+xml" />

    <title><%= current_page.data.title || "Hanami | The web, with simplicity." %></title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag 'toolkit-minimal' %>
    <%= stylesheet_link_tag 'application-minimal' %>
    <%= stylesheet_link_tag 'guides' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top navbar-padded text-uppercase app-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed p-x-0" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">
            <span>Hanami</span>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="/guides">Guides</a>
            </li>
            <li>
              <a href="/community">Community</a>
            </li>
            <li>
              <a href="https://github.com/hanami">Source Code</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container docs-content">
      <ul id="markdown-toc">
        <li></li>
        <li><%= guides_edit_article(current_page.source_file) %></li>

        <li class="toc-group">
          <span>Introduction</span>
          <ul>
            <li><a href="/guides/getting-started">Getting Started</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Architectures</span>
          <ul>
            <li><a href="/guides/architectures/overview">Overview</a></li>
            <li><a href="/guides/architectures/container">Container</a></li>
            <li><a href="/guides/architectures/application">Application</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Applications</span>
          <ul>
            <li><a href="/guides/applications/initializers">Initializers</a></li>
            <li><a href="/guides/applications/rake">Rake</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Routing</span>
          <ul>
            <li><a href="/guides/routing/overview">Overview</a></li>
            <li><a href="/guides/routing/basic-usage">Basic Usage</a></li>
            <li><a href="/guides/routing/restful-resources">RESTful Resource(s)</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Actions</span>
          <ul>
            <li><a href="/guides/actions/overview">Overview</a></li>
            <li><a href="/guides/actions/basic-usage">Basic Usage</a></li>
            <li><a href="/guides/actions/parameters">Parameters</a></li>
            <li><a href="/guides/actions/request-and-response">Request & Response</a></li>
            <li><a href="/guides/actions/exposures">Exposures</a></li>
            <li><a href="/guides/actions/rack-integration">Rack Integration</a></li>
            <li><a href="/guides/actions/mime-types">MIME Types</a></li>
            <li><a href="/guides/actions/cookies">Cookies</a></li>
            <li><a href="/guides/actions/sessions">Sessions</a></li>
            <li><a href="/guides/actions/exception-handling">Exception Handling</a></li>
            <li><a href="/guides/actions/control-flow">Control Flow</a></li>
            <li><a href="/guides/actions/http-caching">HTTP Caching</a></li>
            <li><a href="/guides/actions/share-code">Share Code</a></li>
            <li><a href="/guides/actions/testing">Testing</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Views</span>
          <ul>
            <li><a href="/guides/views/overview">Overview</a></li>
            <li><a href="/guides/views/basic-usage">Basic Usage</a></li>
            <li><a href="/guides/views/templates">Templates</a></li>
            <li><a href="/guides/views/mime-types">MIME Types</a></li>
            <li><a href="/guides/views/layouts">Layouts</a></li>
            <li><a href="/guides/views/custom-error-pages">Custom Error Pages</a></li>
            <li><a href="/guides/views/share-code">Share Code</a></li>
            <li><a href="/guides/views/testing">Testing</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Models</span>
          <ul>
            <li><a href="/guides/models/overview">Overview</a></li>
            <li><a href="/guides/models/entities">Entities</a></li>
            <li><a href="/guides/models/repositories">Repositories</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Migrations</span>
          <ul>
            <li><a href="/guides/migrations/overview">Overview</a></li>
            <li><a href="/guides/migrations/create-table">Create Table</a></li>
            <li><a href="/guides/migrations/alter-table">Alter Table</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Helpers</span>
          <ul>
            <li><a href="/guides/helpers/overview">Overview</a></li>
            <li><a href="/guides/helpers/html5">HTML5</a></li>
            <li><a href="/guides/helpers/forms">Forms</a></li>
            <li><a href="/guides/helpers/routing">Routing</a></li>
            <li><a href="/guides/helpers/assets">Assets</a></li>
            <li><a href="/guides/helpers/links">Links</a></li>
            <li><a href="/guides/helpers/escape">Markup Escape</a></li>
            <li><a href="/guides/helpers/numbers">Numbers</a></li>
            <li><a href="/guides/helpers/custom-helpers">Custom Helpers</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Mailers</span>
          <ul>
            <li><a href="/guides/mailers/overview">Overview</a></li>
            <li><a href="/guides/mailers/basic-usage">Basic Usage</a></li>
            <li><a href="/guides/mailers/templates">Templates</a></li>
            <li><a href="/guides/mailers/delivery">Delivery</a></li>
            <li><a href="/guides/mailers/share-code">Share Code</a></li>
            <li><a href="/guides/mailers/testing">Testing</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Assets</span>
          <ul>
            <li><a href="/guides/assets/overview">Overview</a></li>
            <li><a href="/guides/assets/preprocessors">Preprocessors</a></li>
            <li><a href="/guides/assets/compressors">Compressors</a></li>
            <li><a href="/guides/assets/content-delivery-network">Content Delivery Network (CDN)</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Command Line</span>
          <ul>
            <li><a href="/guides/command-line/applications">Applications</a></li>
            <li><a href="/guides/command-line/generators">Generators</a></li>
            <li><a href="/guides/command-line/destroy">Destroy</a></li>
            <li><a href="/guides/command-line/database">Database</a></li>
            <li><a href="/guides/command-line/assets">Assets</a></li>
            <li><a href="/guides/command-line/routes">Routes</a></li>
            <li><a href="/guides/command-line/version">Version</a></li>
          </ul>
        </li>

        <li class="toc-group">
          <span>Upgrade Notes</span>
          <ul>
            <li><a href="/guides/upgrade-notes/v060">v0.6.0</a></li>
          </ul>
        </li>
      </ul>

      <%= yield %>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
