<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
    <%= stylesheet_link_tag 'guides' %>
  </head>

  <body>
    <%= partial 'navbar' %>

    <div class="container docs-content">
      <ul id="markdown-toc">
        <li></li>
        <li><%= guides_edit_article(current_page.source_file) %></li>

        <% data.guides.categories.each do |category| %>
          <li class="toc-group">
            <span><%= guide_title(category) %></span>
            <ul>
              <% category.pages.each do |page| %>
                <li>
                  <%= link_to(guide_title(page), File.join('/guides', category.path, page.path)) %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <%= yield %>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
