<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
    <%= stylesheet_link_tag 'guides' %>
  </head>

  <body>
    <%= partial 'navbar' %>

    <div class="container docs-content">
      <select class="mobile-guides">
        <% data.guides.categories.each do |category| %>
          <optgroup label="<%= guide_title(category) %>">
            <% category.pages.each do |page| %>
              <option value="<%= guide_url(category, page) %>" <%= "selected" if guide_url(category, page) == current_page.url.chomp("\/") %>><%= guide_title(page) %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
      <ul id="markdown-toc">
        <li></li>
        <li><%= guides_edit_article(current_page.source_file) %></li>

        <% data.guides.categories.each do |category| %>
          <li class="toc-group">
            <span><%= guide_title(category) %></span>
            <ul>
              <% category.pages.each do |page| %>
                <li>
                  <% if guide_title(category) == 'Upgrade Notes' %>
                    <%= link_to(guide_title(page), guide_url(category, page)) %>
                  <% else %>
                    <%= link_to(guide_title(page, current_page.data.version), guide_url(category, page, current_page.data.version)) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <%= yield %>

      <hr>

      <%= guide_pager(current_page, data.guides) %>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
