<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= current_page.data.title || "Lotus &dash; Guides" %></title>
    <meta name="description" content="Lotus, a complete web framework for Ruby" />
    <meta name="keywords" content="lotus,web,framework,ruby,open source,oss,os,software,free,free software,architecture,fast,lightweight,testing,tdd,bdd,test driven development,behaviour driven development,full stack,mvc,model view object,pattern,patterns,design patterns,oop,object oriented programming,testability,http,https,routing,router,http router,restful,resource,resources,convention,controller,models,repository,query,sql,interactors,two-step view,view,template,presenters,render,rendering,helpers,erb,haml,tilt,json,xml,yaml,yml,framwork,framewrok,riby,free sowftare"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://feeds.feedburner.com/lotusrb" rel="alternate" title="Lotus" type="application/atom+xml" />

    <%= stylesheet_link_tag 'application' %>

    <script src="//use.typekit.net/xhp5wmc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="subpage docs">
    <%= partial 'header' %>

    <section class="docs wrapper animated fadeIn">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 hidden-sm hidden-xs sidebar">
            <ul class="nav nav-sidebar">
              <li>
                <span class="heading">Routing</span>
                <ul class="nav">
                  <li><a href="/guides/routing/overview">Overview</a></li>
                  <li><a href="/guides/routing/basic-usage">Basic Usage</a></li>
                  <li><a href="/guides/routing/restful-resources">RESTful Resource(s)</a></li>
                </ul>
              </li>

              <li>
                <span class="heading">Actions</span>
                <ul class="nav">
                  <li><a href="/guides/actions/overview">Overview</a></li>
                  <li><a href="/guides/actions/basic-usage">Basic Usage</a></li>
                  <li><a href="/guides/actions/parameters">Parameters</a></li>
                  <li><a href="/guides/actions/request-and-response">Request & Response</a></li>
                  <li><a href="/guides/actions/exposures">Exposures</a></li>
                  <li><a href="/guides/actions/rack-integration">Rack Integration</a></li>
                  <li><a href="/guides/actions/mime-types">MIME Types</a></li>
                  <li><a href="/guides/actions/cookies">Cookies</a></li>
                  <li><a href="/guides/actions/sessions">Sessions</a></li>
                  <li><a href="/guides/actions/exception-handling">Exception Handling</a></li>
                  <li><a href="/guides/actions/control-flow">Control Flow</a></li>
                  <li><a href="/guides/actions/http-caching">HTTP Caching</a></li>
                  <li><a href="/guides/actions/share-code">Share Code</a></li>
                  <li><a href="/guides/actions/testing">Testing</a></li>
                </ul>
              </li>

              <li>
                <span class="heading">Views</span>
                <ul class="nav">
                  <li><a href="/guides/views/overview">Overview</a></li>
                  <li><a href="/guides/views/basic-usage">Basic Usage</a></li>
                  <li><a href="/guides/views/templates">Templates</a></li>
                  <li><a href="/guides/views/partials">Partials</a></li>
                  <li><a href="/guides/views/mime-types">MIME Types</a></li>
                  <li><a href="/guides/views/layouts">Layouts</a></li>
                  <li><a href="/guides/views/custom-error-pages">Custom Error Pages</a></li>
                  <li><a href="/guides/views/share-code">Share Code</a></li>
                  <li><a href="/guides/views/testing">Testing</a></li>
                </ul>
              </li>

              <li>
                <span class="heading">Helpers</span>
                <ul class="nav">
                  <li><a href="/guides/helpers/overview">Overview</a></li>
                  <li><a href="/guides/helpers/html5">HTML5</a></li>
                  <li><a href="/guides/helpers/forms">Forms</a></li>
                  <li><a href="/guides/helpers/routing">Routing</a></li>
                  <li><a href="/guides/helpers/escape">Markup Escape</a></li>
                  <li><a href="/guides/helpers/numbers">Numbers</a></li>
                  <li><a href="/guides/helpers/custom-helpers">Custom Helpers</a></li>
                </ul>
              </li>

              <li>
                <span class="heading">Command Line</span>
                <ul class="nav">
                  <li><a href="/guides/command-line/routes">Routes</a></li>
                </ul>
              </li>
            </ul>

          </div>

          <div class="col-md-9 main">
            <div class="doc-section">
              <%= guides_edit_article(current_page.source_file) %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%= partial 'footer' %>
  </body>
</html>
