<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
  </head>
  <body>
    <%= partial 'navbar' %>

    <div class="block app-block-intro">
      <div class="container text-center">
        <h1 id="brand-name" class="block-title m-b-sm text-uppercase brand-name">Hanami</h1>
        <p id="motto" class="lead m-b-lg p-b-md">The web, with simplicity</p>
        <div class="app-block-cta">
          <a href="#install" class="btn btn-primary m-t">Install v<%= hanami_version %></a>
          <a href="https://guides.hanamirb.org/getting-started" target="_blank" class="btn btn-default btn-outline m-t">Getting Started</a>
          <p class="hanami-release-date">
            <em>Released on <%= hanami_release_date %></em>
          </p>
        </div>
        <img src="/images/home-background.jpg">
      </div>
    </div>

    <div class="block block-bordered-lg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center m-b-lg">
            <img class="img-circle" src="/images/logo.png" width="150px" height="150px">
            <p class="lead m-x-auto">Hanami is a modern web framework for Ruby.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ul class="featured-list">
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="icon icon-flash"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>Fast response times</strong></p>
                <p class="featured-list-icon-text">
                  Hanami is optimized for speed. It returns responses in a matter of milliseconds. Take the full advantage of Content Delivery Networks to make your apps faster.
                </p>
              </li>

              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="icon icon-feather"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>Full-featured, but lightweight</strong></p>
                <p class="featured-list-icon-text">
                  Use the <strong>100+ features</strong> that we offer to build powerful products without compromising memory. Hanami consumes <strong>60% less memory</strong> than other full-featured Ruby frameworks.
                </p>
              </li>

            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="featured-list">

              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="icon icon-lock"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>Secure by default</strong></p>
                <p class="featured-list-icon-text">
                  Deploy applications that rely on latest browser technologies such as Content Security Policy, X-Frame headers, automatic escaping to protect your users against the most common security threats.
                </p>
              </li>

              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="icon icon-emoji-happy"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>Simple and productive</strong></p>
                <p class="featured-list-icon-text">
                  Enjoy Hanami's simplicity of design and the minimalism of its components. Write flexible code in a matter of minutes, and make it easy to change for the future.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center m-b-lg">
            <p class="lead m-x-auto">Trusted by</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-4">
            <a href="https://dnsimple.com/opensource" rel="noopener noreferrer" target="_blank">
              <img src="/images/companies/dnsimple.png" alt="DNSimple" loading="lazy">
            </a>
          </div>
          <div class="col-sm-4">
            <a href="https://www.freework.com" rel="noopener noreferrer" target="_blank">
              <img src="/images/companies/freework.png" alt="Freework" loading="lazy">
            </a>
          </div>
          <div class="col-sm-4">
            <a href="https://www.advanon.com" rel="noopener noreferrer" target="_blank">
              <img src="/images/companies/advanon.png" alt="advanon" loading="lazy">
            </a>
          </div>
        </div>
        <br>
        <div class="row text-center">
          <div class="col-sm-4">
            <a href="http://hellohippo.com" rel="noopener noreferrer" target="_blank">
              <img src="/images/companies/hippo.png" alt="hippo" loading="lazy">
            </a>
          </div>
          <div class="col-sm-4">
            <a href="https://ppe-analytics.com/index_en.html" rel="noopener noreferrer" target="_blank">
              <img src="/images/companies/ppe-analytics.png" alt="ppe-analytics" loading="lazy">
            </a>
          </div>
          <div class="col-sm-4">
            <a href="https://flooringstores.com" rel="noopener noreferrer" target="_blank">
              <img src="/images/companies/flooring-stores.png" alt="flooring-stores" loading="lazy">
            </a>
          </div>
        </div>
        <br>
        <div class="row text-center">
          <div class="col-sm-4">
            <a href="https://marozed.ma" rel="noopener noreferrer" target="_blank">
              <img src="/images/companies/marozed.png" alt="Marozed Web Agency" loading="lazy">
            </a>
          </div>
          <div class="col-sm-4">
            <a href="https://ascendaloyalty.com" rel="noopener noreferrer" target="_blank">
              <img src="/images/companies/ascenda-loyalty.png" alt="Ascenda Loyalty" loading="lazy">
            </a>
          </div>
          <div class="col-sm-4">
            <a href="https://playguide.eu" rel="noopener noreferrer" target="_blank">
              <img src="/images/companies/playguide.png" alt="PlayGuide" loading="lazy">
            </a>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <p class="m-x-auto"><a href="https://github.com/hanami/hanami.github.io/edit/build/source/layouts/home.erb" rel="noopener noreferrer" target="_blank">Are you using Hanami in production? Let us know!</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="block block-bordered-lg block-overflow-hidden p-b-0 app-block-design">
      <div class="container">
        <div class="row pos-r">
          <div class="col-sm-7 text-xs-center text-sm-left">
            <a name="install"></a>
            <p class="lead">
              Download, Develop, Deploy in 5 minutes.
            </p>
            <div class="container">
              <div class="row download-develop-deploy">
                <div>
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#download" aria-controls="download" role="tab" data-toggle="tab">Download</a></li>
                    <li role="presentation"><a href="#develop" aria-controls="develop" role="tab" data-toggle="tab">Develop</a></li>
                    <li role="presentation"><a href="#deploy" aria-controls="deploy" role="tab" data-toggle="tab">Deploy</a></li>
                  </ul>

                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="download">
                      <pre class="language-ruby plaintext"><code><span class="command">% gem install hanami</span>
Successfully installed hanami-<%= hanami_version %>
1 gem installed
<br>
<span class="command">% hanami new bookshelf --database=postgresql</span>
22 files successfully created
                      </code></pre>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="develop">
                      <pre class="language-ruby plaintext"><code><span class="command">% cd bookshelf &amp;&amp; echo "ruby '2.6.4'" &gt;&gt; Gemfile &amp;&amp; bundle</span>
Bundle complete! 9 Gemfile dependencies, 59 gems now installed.
<br>
<span class="command">% git add . &amp;&amp; git commit -m "Initial commit"</span>
[master (root-commit) 2dd2fad] Initial commit
 40 files changed, 808 insertions(+)
                      </code></pre>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="deploy">
                      <pre class="language-ruby plaintext"><code><span class="command">% heroku apps:create</span>
Creating app... done, ⬢ Creating cherry-blossom-1234
https://cherry-blossom-1234.herokuapp.com/ | https://git.heroku.com/cherry-blossom-1234.git
<br>
<span class="command">% heroku config:add SERVE_STATIC_ASSETS=true</span>
Setting SERVE_STATIC_ASSETS and restarting ⬢ cherry-blossom-1234... done, v2
<br>
<span class="command">% heroku config:add SMTP_HOST=""</span>
Setting SMTP_HOST and restarting ⬢ cherry-blossom-1234... done, v3
<br>
<span class="command">% heroku config:add SMTP_PORT=""</span>
Setting SMTP_PORT and restarting ⬢ cherry-blossom-1234... done, v4
<br>
<span class="command">% git add . &amp;&amp; git commit -m "Initial commit"</span>
# ...
<br>
<span class="command">% git push heroku master</span>
# ...
remote: Verifying deploy... done.
To https://git.heroku.com/cherry-blossom-1234.git
 * [new branch]      master -&gt; master
<br>
<span class="command">% heroku run bundle exec hanami db migrate</span>
Running bundle exec hanami db migrate on ⬢ cherry-blossom-1234... up, run.9274 (Free)
# ...
<br>
<span class="command">% heroku open</span>
Opening cherry-blossom-1234... done
                      </code></pre>
                    </div>
                  </div>

                  <div class="callout">
                    <div class="callout-content">
                      <strong>Build your first application now.</strong> It will take you only a few minutes to learn how to do it.
                    </div>

                    <div class="callout-secondary">
                      <a href="https://guides.hanamirb.org/getting-started" class="btn btn-sm btn-primary" target="_blank">Get started</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= partial 'mailing_list' %>
    <%= partial 'footer' %>
  </body>
</html>
