<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= current_page.data.title || "Lotus &dash; A complete web framework for Ruby" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="lotusrb-version" content="0.2.1">
    <link href="http://feeds.feedburner.com/lotusrb" rel="alternate" title="Lotus" type="application/atom+xml" />

    <%= stylesheet_link_tag 'application' %>

    <script src="//use.typekit.net/cas2dwg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="subpage blog">
    <%= partial 'header' %>

    <section class="wrapper animated fadeIn">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12 main">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>

    <%= partial 'footer' %>
  </body>
</html>
