<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= current_page.data.title || "Lotus &dash; A complete web framework for Ruby" %></title>
    <meta name="description" content="Lotus, a complete web framework for Ruby" />
    <meta name="keywords" content="lotus,web,framework,ruby,open source,oss,os,software,free,free software,architecture,fast,lightweight,testing,tdd,bdd,test driven development,behaviour driven development,full stack,mvc,model view object,pattern,patterns,design patterns,oop,object oriented programming,testability,http,https,routing,router,http router,restful,resource,resources,convention,controller,models,repository,query,sql,interactors,two-step view,view,template,presenters,render,rendering,helpers,erb,haml,tilt,json,xml,yaml,yml,framwork,framewrok,riby,free sowftare"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://feeds.feedburner.com/lotusrb" rel="alternate" title="Lotus" type="application/atom+xml" />

    <%= stylesheet_link_tag 'application' %>

    <script src="//use.typekit.net/xhp5wmc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="subpage blog">
    <%= partial 'header' %>

    <section class="wrapper animated fadeIn">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12 main">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>

    <%= partial 'footer' %>
  </body>
</html>
