<section class="email-signup">
<div class="container-fluid wrapper">

  <form class="">
    <input type="email" class="pull-left" id="" placeholder="Enter your email to get updates">
    <button type="submit" class="btn btn-primary pull-right">Subscribe</button>
  </form>

</div>
</section>

<footer class="primary">
<div class="container-fluid wrapper">
  <div class="row">
    <a class="logo col-md-3" href="/">logo</a>
    <% articles(2).each do |article| %>
      <div class="col-md-4">
        <span class="date"><%= article_date(article) %></span>
        <h4><%= article_title(article) %></h4>
        <p><%= article_summary(article) %></p>
        <%= link_to 'Read more...', article %>
      </div>
    <% end %>
  </div>
</div>

<div class="sub-footer wrapper">
  <p class="copyright pull-left">&copy; 2014-<span id="copyright-year">{{year}}</span> <a href="http://lucaguidi.com/">Luca Guidi</a> – Lotus is released under the MIT License.
  <br>
  <br> This website and its contents are released under <a href="http://creativecommons.org/licenses/by-nc/4.0/" href="_blank">CC Attribution-NonCommercial 4.0</a>.
  <br> Maintained with <3 by the <a href="" target="_blank">core team</a> with help from <a href="https://github.com/lotus/lotus/graphs/contributors" target="_blank">contributors</a>. Site Design by <a href="http://www.alantippins.com/">Alan Tippins</a>.</p>
  <ul class="social">
    <li><a href="https://twitter.com/lotus_rb" target="_blank" class="icon-twitter"></a></li>
    <li><a href="https://github.com/lotus" target="_blank" class="icon-github"></a></li>
  </ul>
</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<%= javascript_include_tag 'application' %>
