<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
   <title>Lotus</title>
   <subtitle>Lotus framework blog</subtitle>
   <link href="http://lotusrb.org/atom.xml" rel="self"/>
   <link href="http://lotusrb.org/blog"/>
   <updated><%= blog.articles.first.date.to_time.iso8601 %></updated>
   <id>http://lotusrb.org/blog</id>
   <author>
     <name>Lotus</name>
     <email>admin@lotusrb.org</email>
   </author>

   <% articles(10).each do |article| %>
     <entry>
       <title><%= article_title(article) %></title>
       <id>http://lotusrb.org<%= article.url %></id>
       <link rel="alternate" href="http://lotusrb.org<%= article.url %>"/>
       <updated><%= article.date.to_time.iso8601 %></updated>
       <author>
         <name><%= article_author(article) %></name>
       </author>
       <summary>
         <%= article_summary(article) %>
       </summary>
       <content type="html"><![CDATA[<%= article.body %>]]></content>
     </entry>
   <% end %>
</feed>
