---
title: Blog
pageable: true
---
<div class="container container-blog">
  <div class="block block-inverse text-center">
    <div class="block-foreground">
      <h1 class="block-title">Blog</h1>
    </div>
    <div class="block-background">
      <img src="/images/blog-header.jpg">
    </div>
  </div>

  <% page_articles.each do |article| %>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h2><%= link_to article_title(article), article %></h2>
        <h4>Posted by <strong class="author"><%= article_author(article) %></strong> on <em><%= article_date(article) %></em></h4>

        <p class="summary"><%= article_summary(article) %></p>
        <%= link_to 'Read more...', article %>
        <hr>
      </div>
    </div>
  <% end %>

  <% if paginate %>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <ul class="pager">
        <% prev_title = "&larr; Previous" %>
        <% next_title = "Next &rarr;" %>

        <li class="<%= prev_page.nil? && 'disabled' %>">
          <% if prev_page %>
            <a href="<%= prev_page.url %>"><%= prev_title %></a>
          <% else %>
            <span><%= prev_title %></span>
          <% end %>
        </li>
        <li class="<%= next_page.nil? && 'disabled' %>">
          <% if next_page %>
            <a href="<%= next_page.url %>"><%= next_title %></a>
          <% else %>
            <span><%= next_title %></span>
          <% end %>
        </li>
      </ul>
    </div>
  <% end%>
</div>
