---
title: Blog
---
<div class="container container-blog">
  <div class="block block-inverse text-center">
    <div class="block-foreground">
      <h1 class="block-title">Blog</h1>
    </div>
    <div class="block-background">
      <img src="/images/blog-header.jpg">
    </div>
  </div>

  <% articles.each do |article| %>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h2><%= link_to article_title(article), article %></h2>
        <h4>Posted by <strong class="author"><%= article_author(article) %></strong> on <em><%= article_date(article) %></em></h4>

        <p class="summary"><%= article_summary(article) %></p>
        <%= link_to 'Read more...', article %>
        <hr>
      </div>
    </div>
  <% end %>
</div>
